@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

body{
    padding:0;
    margin:0;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a{
    text-decoration: none;
    padding:12px;
    color:white;
    background-color: #155b34;
    border-radius:7px;
}